.Navlist {
    width: 140px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;

    transition: .3s all linear;
    transform: translateY(-194px);
}
.Navlist ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Navlist ul li {
    width: 90%;
    padding: 8px 0;
    border-bottom: 1px solid #d4d4d4;
}
.Navlist ul li:last-child {
    border-bottom: none;
}
.navActive {
    transform: translateY(0);
}
@media (max-width: 571px) {
    .Navlist {
        width: 280px;
    }
    .Navlist ul li {
        padding: 18px 0;
    }
}