.Burger {
    width: 30px;
    height: 20px;

    display: none;

    cursor: pointer;

    position: relative;

}
.Burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(99, 99, 99);
    position: absolute;
    left: 0;
    transition: .3s all linear;
}
.first {
    top: 0;
}
.second, .third {
    top: 50%;
    transform: translateY(-50%);
}
.fourth {
    bottom: 0;
}
.Burger_active .first, .Burger_active .fourth {
    opacity: 0;
}
.Burger_active .second {
    transform: translateY(-50%) rotate(45deg);
}
.Burger_active .third {
    transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 571px) {
    .Burger {
        display: block;
    }
}