.Header {
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;

    background-color: rgb(241, 241, 241);
}
nav {

}
ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}
[data-burger="burger"] {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid brown;

}
.burgerFirst, .burgerSecond, .burgerThird, .burgerFourth {

}